{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instructions Task 2
{% endblock %}

{% block styles %}
    <style>
    .btn { white-space:normal !important; word-wrap:break-word; }
    .btn--action{
  display: block;
  width: 90%;
  padding: 2rem;
  border-radius: 350px;
  background-color: red;
  color: #000;
  box-shadow: 0 20px darkred;
}
    </style>
    {% endblock %}

{% block scripts %}

    <script>
$('.collapse').collapse()
    let activeTab = 0;

    function showCurrentTabOnly() {
        let tabIndex = 0;
        for (let tab of document.getElementsByClassName('tab')) {
            tab.style.display = tabIndex === activeTab ? 'block' : 'none';
            tabIndex++;
        }
    }

    showCurrentTabOnly();
    for (let btn of document.getElementsByClassName('btn-tab')) {
        btn.onclick = function () {
            activeTab += parseInt(btn.dataset.offset);
            showCurrentTabOnly();
        }
    }

  function sayReady() {
    let msg = new SpeechSynthesisUtterance();
    // or: de-DE, zh-CN, ja-JP, es-ES
    msg.language = 'en-US';
    // actually better to use js_vars than double-braces
    msg.text = "The other participant has arrived";
    window.speechSynthesis.speak(msg);
  }

  if (document.hidden) {
    sayReady();
  }

</script>
{% endblock %}

{% block content %}


<div class="card">
  <div class="card-body">

      <p>
          In Task 2 you are matched with another participant.
          The matched participants have different roles: Player A and Player B. <br>Your role is: </p>

      <div class="text-center"><button class="btn btn-dark btn-lg" disabled> Player {% if player.role == "Sender" %}B{% else %}A{% endif %}</button></div>
        <br>
      <p>

                      {% include 'snippets/Instr2.html' %}

      <p> Please press "Next" for a practice round{% if player.role == "Sender" %} <b>of Player A’s task.</b>
      More information about your task will follow.{% else %}.{% endif %}

      </p>

{% next_button %}


</div></div>
{% endblock %}
