{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
     Final Payoff
{% endblock %}

{% block content %}

<div class="card">
<div class="card-body">
        We are almost done with the experiment, thank you for participating! Here is a summary of the results:
    <br><br>
<table style="width:500px;" class="table table-bordered table-hover table-sm">

  <thead class="thead-light">
  <tr>
    <th></th>
    <th>You</th>
    <th> Charity (Red Cross)</th>
  </tr>
  </thead>
    <tr>
    <td>Task 1</td>
    <td>{{ payoff1_self }}</td>
    <td>{{ payoff1_charity }}</td>

  </tr>
  <tr>
    <td>Task 2</td>
    <td>{% if too_long %} Not played {% else %}&pound;{{ payoff2_self }} {% endif %}
{#        {% if punished and treatment == "Request + Punishment" %}(reduced by Player A)#}
{#        {% endif %}#}
    </td>
    <td>

    {% if player.role == "Receiver" %}
        {% if message == "Red Cross: ???" %} ???
        {% elif too_long %}
        {% else %}
            {% if not informed %}
            {% else %}
            {{ payoff2_charity }}
            {% endif %}
        {% endif %}<b/>
    {% endif %}

    </td>
  </tr>
</table>

{% if not too_long %}
<p> Please click the next button to randomly select one of the two tasks for your bonus payment. </p>
{% endif %}

</div></div><br>
{% next_button %}

{% endblock %}

