{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
     Final Payoff
{% endblock %}

{% block scripts %}
<script>

        let completionlink = js_vars.completionlink;
        function completed() {
            console.log("clicking the button")
            window.location.href = completionlink;
        }


</script>

{% endblock %}

{% block content %}

<div class="card">
<div class="card-body">
        We are almost done with the experiment, thank you for participating! Here is a summary of the results. <br>
    The task selected for your bonus payoff is indicated in green.
    You will also receive a participation fee of &pound;{{ Constants.participation_fee }}.
    <br><br>
<table style="width:500px;" class="table table-bordered table-hover table-sm">

  <thead class="thead-light">
  <tr>
    <th></th>
    <th>You</th>
    <th> Charity (Red Cross)</th>
  </tr>
  </thead>
    {% if selected == 1 %} <tr  class="bg-success"> {% else %} <tr> {% endif %}
    <td>Task 1</td>
    <td>{{ payoff1_self }}</td>
    <td>{{ payoff1_charity }}</td>

  </tr>
    {% if selected == 2 %} <tr  class="bg-success"> {% else %} <tr> {% endif %}
    <td>Task 2</td>
  {% if too_long %}
      <td>Not played</td><td></td>
  {% else %}
    <td>&pound;{{ payoff2_self }}
        {% if punished and treatment == "Request + Punishment" %}(reduced by Player A)
        {% endif %}</td></td>
    <td>
    {% if player.role == "Receiver" %}
        {% if message == "Red Cross: ???" %} ???
        {% else %}
            {% if not informed %}
            {% else %}
            {{ payoff2_charity }}
            {% endif %}
        {% endif %}<b/>
    {% endif %}
    </td>
    {% endif %}
  </tr>
</table>

{% if player.role == "Receiver" and not too_long %}

    {% if payoff2_charity_neg and selected == 2 and message != "Red Cross: ???"%} The total payoff to the Red Cross is negative,
        which means that we will reduce a scheduled donation by that amount. <br><br> {% endif %}
{% endif %}



</div></div><br>


<button type="button" class="btn btn-primary btn-right btn-lg" onclick="completed()" > Back to Prolific </button>


{% endblock %}

