{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Ready for Task 2
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $("#exampleModal").modal('show');
    });
</script>
{% endblock %}

{% block content %}
<div class="card"><div class="card-body">
{% if not informed %}
    Player B did not share any information with you about the consequences of the button-press for the Red Cross. </p>
{% else %}
    In their task, Player B was informed that the button on your screen gives you a bonus of &pound;{{Constants.optionB}}
          but produces also
          <b>{% if message.0 == "-" %}<span style="color:red">negative consequences</span>
              {% else %}positive consequences
          {% endif %}</b>
          for the Red Cross.
          </p>
{% include 'snippets/pressing.html' %}

{% endif %}

<p>Please press "Next" to start with Task 2.</p>
 </div></div><br>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update from Player B</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>

    {% if not informed %}
        Player B did not share any information with you about the consequences of the button-press for the Red Cross.
    {% else %}
          Before making your choice there is an important piece of <b>information that Player B wants to share with you.</b>
          In their task, Player B was informed that the button on your screen gives you a bonus of &pound;{{Constants.optionB}}
          but produces also
          <b>{% if message.0 == "-" %}<span style="color:red">negative consequences</span>
              {% else %}positive consequences
          {% endif %}</b>
          for the Red Cross.
          </p><p>
{% include 'snippets/pressing.html' %}
{% endif %}

      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    {% next_button %}
{% endblock %}



