{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Request
{% endblock %}

{% block content %}



<div class="card">
  <div class="card-body">
  <p>

</p>

      <p>Tick the box below if you want to send the following request to Player B:</p>

        {% for field in form %}

                <input type="checkbox" name="request" value="True" id="request">
            <label for="request"><i><h6>Please replace ??? by the actual consequences for the Red Cross.</h6></i></label><br>

        {% endfor %}
  {{ form.request.errors }}

      <p> If you do not want to send the request, don’t tick the box.
          In this case Player B will receive the following information:<br>
          <i>Player A did not request information about the consequences for the Red Cross.</i>
</p>

  <p>After you make your choice, press next to proceed. </p>
  </div>
</div>
<br>
    {% next_button %}
{% endblock %}