{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Request
{% endblock %}

{% block content %}



<div class="card">
  <div class="card-body">
  <p>

</p>

      <p>Remember, you are matched with Player B, who has the opportunity to inform you about the consequences for the Red Cross if you decide to click the button.
         If they decide to do so, this will replace the "???" on the button by the actual payoff consequences for the Red Cross. </p>
      <p>Here, you have the opportunity to inform Player B about your preference to have or not to have information:</p>

        {% for field in form %}


            <input type="radio" required name="request" value="request_info" id="request_info">
            <label for="request_info"><i><b>Please replace ??? by the actual consequences for the Red Cross.</b></i></label><br>
            <input type="radio" required name="request" value="request_no_info" id="request_no_info">
            <label for="request_no_info"><i><b>Please do not replace ??? by the actual consequences for the Red Cross.</b></i></label><br>
            <input type="radio" required name="request" value="no_request" id="no_request">
            <label for="no_request"><i><b>Do not send any request to Player B.</b></i></label><br>




        {% endfor %}
  {{ form.request.errors }}

  <p><br>After you make your choice, press next to proceed. </p>
  </div>
</div>
<br>
    {% next_button %}
{% endblock %}