{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Task 2 </span>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $("#exampleModal").modal('show');
    });
</script>
{% endblock %}


{% block content %}
{% if treatment == "Request" or treatment == "Request + Punishment" %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Attention!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>


            {% if request == "True" %} Message from Player A: <br><br><i><b>Please replace ??? by the actual consequences for the Red Cross.</b></i>
            {% else %} Player A did <b>not</b> request information about the consequences for the Red Cross.
            {% endif %}
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endif %}

    <div class="card">
  <div class="card-body">
    Your initial bonus payment is  {{ Constants.payoff_sender }} pence.

      {% if treatment == "Request + Punishment" %}
          At the end of the task, Player A has the opportunity to reduce your bonus.
      {% endif %}
      <br><br>


  Below you see each of the possible consequences for the Red Cross.
      Please choose whether you want to inform Player A or not, for each of the cases.
      The computer will randomly select one of these cases, and implement your decision.
      If you chose to send a message for the selected consequence, you <b>
      {% if treatment == "Sending Positive" %}receive {% else %}pay{% endif %}
      the
      {% if treatment != "Extra Costly" %} small {% endif %}
      amount of {{ player.cost_of_sending }} pence. </b>
      You should make each decision as if it is the one that will be implemented.

      <br><br>

        {% if treatment == "Symbolic Punishment" %}
          After receiving information, Player A has the opportunity to send you feedback. <br><br> {% endif %}

      {% if treatment == "Request" or treatment == "Request + Punishment" %}

        <div class="alert alert-info" role="alert">
            {% if request == "True" %} Message from Player A: <i><b>Please replace ??? by the actual consequences for the Red Cross.</b></i>
            {% else %} Player A did <b>not</b> request information about the consequences for the Red Cross.
            {% endif %}
        </div>

    {% endif %}

<table style="width:900px;" class="table table-bordered table-sm">
  <thead class="thead-light">
  <tr>
    <th>Consequences of pressing the <button type="button" class="btn btn-danger btn-sm" disabled>button</button></th>
    <th style="min-width: 150px">Make your choice...</th>
      </tr>
  </thead>

        {% for amount in Constants.payoffs_charity_str %}

    <tr>
    <td>Player A: <b>+&pound;{{ Constants.optionB }}.00</b>, Red Cross:
        {{ amount }}
    </td>
    <td>
       <div class="form-group col-sm-7" style="margin-bottom:0">
      <select name="message_{{ forloop.counter |json }}" class="form-control" style="min-width: 500px" required>
        <option value="" selected>Please make your choice...</option>
        <option value="True">Tell Player A that pressing the button leads to a &pound;{{ amount.2 }}{{ amount.3 }}{{ amount.4 }}{{ amount.5 }}
            {% if amount.0 == "-" %}reduction{% else %}increase {% endif %}
            of the Red Cross bonus</option>
        <option value="False">Don’t tell Player A about the consequences of pressing the button.
            </option>
      </select>
        </div>
    </td>
  </tr>

         {% endfor %}

      </table>

{{ form.errors }}
</div></div><br><br>{% next_button %}


{% endblock %}
