{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Summary of Task 2
{% endblock %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="card">
  <div class="card-body">


<p> This is the end of Task 2.

    {% if player.role == "Sender" %}
        The consequence selected by the computer is <b>{{ consequence }}</b>.
        <br>You decided <b>{% if not informed %} not {% endif %}to inform</b> Player A about
        this{% if informed %}, at a cost of {{ Constants.cost_of_sending_baseline}} pence{% endif %}.


        <p> {% if treatment == "Request + Punishment"%}
            Player A's final choice was to
                {% if punished == 1 %} <b>reduce </b> your bonus payment by {{ Constants.punishment }} pence. <br>
                {% else %} <b>confirm</b> your bonus payment. <br>
                {% endif %}
            If this task is selected for payment, you will earn a bonus payment of
            {% if punished or informed %}{{ Constants.payoff_sender }} {% endif %}
                {% if informed %} - {{ Constants.cost_of_sending_baseline }} {% endif %}
            {% if punished == 1 %} - {{ Constants.punishment }} {% endif %} {% if punished or informed %}={% endif %}
            <b>{{ payoff2_self }}</b>.<br>
            {% elif treatment == "Symbolic Punishment" and informed %}
                {% if punished == 1 %} Player A sent you the following feedback: <p style="font-size:50px">&#128544; </p>
                {% elif punished == 0 %} <p style="font-size:20px">Player A did not send you feedback. </p>
                {% endif %}
            {% else %} If this task is selected for payment, you will earn a bonus payment of <b>{{ payoff2_self }}</b>.
            {% endif %}
        </p>

    {% elif player.role == "Receiver" %}
        <p>
        {% if button %}
            You <b>clicked</b> the button.
            If this task is selected for payment, you will earn a bonus payment of <b>{{ payoff2_self }}</b>.

        {% else %}
            You did <b>not click</b> the button.
            If this task is selected for payment, you will earn a bonus payment of <b>0 pence</b>.
        {% endif %}
        </p>

    {% endif %}

      <p> After you complete the final questionnaire,
          you will be informed about the selected task (Task 1 or Task 2). <br>
          Press "Next" to begin with the final questionnaire. </p>


  </div></div>

    <br>

    {% next_button %}

{% endblock %}
