{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load otree %}

{% block title %}
    Practice Task 2 of Player A <span style="font-size:15px">{% if player.role == "Sender" %}(you are Player B) {% else %} (you) {% endif %}</span>
{% endblock %}

{% block styles %}

    {% include 'snippets/Button_style.html' %}
    <style>
    .btn--action:hover, .btn--action:focus {
        background-color: indianred;
        transform: translateY(2px);
        }
    .btn--action{
        cursor: pointer;
    }
    </style>


{% endblock %}

{% block scripts %}
        <script>
        let customTimerEle = document.getElementById('mins-left');
        let customTimer2 = document.getElementById('secs-left');
        let customTimer = document.getElementById('store_time_test');

        document.addEventListener("DOMContentLoaded", function (event) {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                customTimerEle.innerText = event.offset.totalMinutes;
                customTimer2.innerText = event.offset.totalSeconds - event.offset.totalMinutes*60;
                customTimer.innerText = event.offset.totalSeconds;

            });
        });

        function storeTime() {
            document.getElementById('store_time_test').value = customTimer.innerText;
        }

    </script>
{% endblock %}

{% block content %}
    <input type="hidden" name="store_time_test" id="store_time_test" />

 <div class="alert alert-secondary" role="alert">
  This page will automatically submit in <b>
   <span id="mins-left"></span> minutes and <span id="secs-left"></span> seconds</b>. <br>
<small>(Clicking the button cannot be reversed. Clicking the button will not save you time. <br>
    If you do not click, your bonus payoff will be &pound;0 and the Red Cross donation will be unaffected.)</small>
 <br><br>


 <br><br>

  <div class="col-12">
      <button name="button_test" value="True" class="btn btn--action" onclick="storeTime()"><br>
        <br><p> If you click: <br><br> </p>
          <h4>You: +&pound;{{ Constants.optionB }}</h4>
        <h4> Red Cross: ??? </h4>
          <br><br><br>

        </button></div>
    <br><br><br>

</div>

{% endblock %}
