{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Instructions Task 1
{% endblock %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="card">
  <div class="card-body">
{% include 'snippets/Instr1Task1.html' %}

<div class="clearfix">
          <img class="col-md-12 float-sm-end mb-12 ms-md-12" style="max-width:250px" src="{% static 'Example-p.jpg' %}"/>
</div>

 <p>When you finished reading the instructions, press “Next” to move to the comprehension questions. </p>

  </div></div>
    <br>

{% next_button %}

{% endblock %}
