{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% load otree %}

{% block title %}
    Instructions Task 1 (II)
{% endblock %}

{% block styles %}

{% endblock %}


{% block content %}
<div class="card">
<div class="card-body">
{% include 'snippets/Instr2Task1.html' %}
{% include 'snippets/Instr2Task1b.html' %}
{% include 'snippets/Instr2Task1c.html' %}

    <p>
After reading the instructions, press “Next” to move to the comprehension questions.
</p>

</div>
</div>
<br>
      {% next_button %}



{% endblock %}
