{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Task 1
{% endblock %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="card">
  <div class="card-body">
This is the decision screen.

You have to make a choice between option A and option B. The actual scenario is either Scenario 1 or Scenario 2 and the two are equally likely.

<div class="clearfix">
          <img class="col-md-12 float-sm-end mb-12 ms-md-12" style="max-width:450px" src="{% static 'questionmarks.jpg' %}"/>
</div>

<div class="clearfix">
          <img class="col-md-12 float-sm-end mb-12 ms-md-12" style="max-width:500px"src="{% static 'Twogames-text.jpg' %}"/>
</div>
      <br>
Please make your choice:

<br><br>



      <button name="reveal" id="reveal" value=True class="btn btn-outline-primary">Reveal scenario</button>
      <button name="task1" id="task1" value="A" class="btn btn-outline-primary">Select option A</button>
      <button name="task1" id="task1" value="B" class="btn btn-outline-primary">Select option B</button>



  </div></div>

{% endblock %}
