{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

<div class="card"><div class="card-body">
<p>Welcome! You are participating in a study funded by the University of Amsterdam.</p>
<p>The goal of this study is to assess how people make decisions.
    You receive <b>&pound;{{ Constants.participation_fee }}</b> as a payment for participation.
    Further, you can earn extra money as a bonus.
    Your bonus depends on your decisions and on the decisions of other participants.
    Your decisions may affect the payment of other participants.
</p><p>
    In addition, the experimenters have prepared a fund to donate to the Red Cross at the end of the experiment.
    Your decisions may affect the size of this fund, and can either increase or decrease
    total donations to the Red Cross. These donations are real, as our ethical approval does
    not allow us to deceive participants.
    A proof of the charity donation will be available upon completion of the experiment.


</p>

    <p>In this study there are <b> two independent tasks</b>.
    Your decisions in one task do not influence the other task in any way. At the end of the experiment,
    one of the two tasks will be randomly selected for payment.</p>

<p>The first task is an individual task. In the second task you will interact with another participant.
    Therefore, you may have to wait for another participant before entering the decision stage of Task 2.
    <b>Please be patient. If we do not find a partner within 5 minutes, you will automatically proceed to the final questionnaire
        and you will be paid according to your decisions in Task 1. </b>
 </p>

    <p>Remember that if you do not complete the study, you will not earn anything.
        If you have questions, you can contact the researcher via <a href = "mailto:j.m.mol@uva.nl">j.m.mol@uva.nl</a>.
        Press "Next" to continue. </p>

</div></div>

<br>
    {% next_button %}
{% endblock %}



