{% load staticfiles otree_tags %}

<p>When choosing between Option A and Option B, you will face the following scenario.

<div class="clearfix">
    <img class="col-md-12 float-sm-end mb-12 ms-md-12" style="max-width:450px" src="{% static 'questionmarks.jpg' %}"/>
</div>

The scenario shows your bonuses for each option but does not show the bonuses of the Red Cross,
    which are concealed by “???”.  These bonuses are either the ones in Scenario 1
    or the ones in Scenario 2 reported below. Please take a minute to study these payoff tables. </p>

