{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otree%}

{% block title %}
One more thing you should know…
{% endblock %}


{% block content %}
   <div class="card">
      <div class="card-body"><p> We have implemented an attention check task just to make sure that you pay attention to the screen.  </p>
      <p>You will be presented with a <b>sequence of numbers</b> which will appear at random times on the screen in the next page. At the end of the experiment, we will ask you to tell us which was the <b>highest number</b> that you saw. If the number you answer is actually the highest number that appeared on screen, we will add an extra 10 cents to your final payoffs. </p>
  </div></div>

<br>
      {% next_button %}

{% endblock %}





