{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}

{% endblock %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="card">
  <div class="card-body">


<p> This is almost the end of Task 3. You will now have the opportunity to think more about your decision in this task and possibly alter your final payoff.

    In the next screen you will face a red button. If you press it, then you will receive
    {% if player.treatment == 'ButtonA'%} {{ Constants.optionB0}}&pound and the charity will get  {{ Constants.optionB1}}&pound.
    {%elif player.treatment == "ButtonB"%} {{ Constants.optionA0}}&pound and the charity will get  {{ Constants.optionA1}}&pound.
     {% endif %}
    If you do not press it, you will get
    {%if player.treatment == "ButtonA"%} {{ Constants.optionA0}}&pound and the charity will get  {{ Constants.optionA1}}&pound. </p>
    {%elif player.treatment == "ButtonB"%} {{ Constants.optionB0}}&pound and the charity will get  {{ Constants.optionB1}}&pound.  </p>
     {% endif %}

     <p>This decision will override the previous one and thus determine the final payoffs - for you and the Red Cross - in Task 3. You have <b> 3 minutes</b> to think more about your decision. </p>



 <p>Like before, one in every ten participants will be randomly selected to receive payment in this task.</p>
 <p> It is important that you pay attention to this task and do not get distracted by opening another tab or looking around your surroundings and not the screen. </p>
      <p> Press "Next" to continue. </p>


  </div></div>

    <br>
    {% next_button %}

{% endblock %}

