{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
End of Task 3
{% endblock %}

{% block styles %}
<style>
.otree-timer.alert {
    display:none;
}

div1 {
  padding-left:100px;
}

div2{
  padding-left: 120px;
}

</style>
{% endblock %}


{% block scripts %}

<script type="text/javascript">
function deactivateB() {
   //document.getElementsByName('danat')[0].disabled = false;
   document.getElementsByName('danat')[1].disabled = true;
   return true;
}

</script>

<script type="text/javascript">
function deactivateA() {
   document.getElementsByName('danat')[0].disabled = true;
   //document.getElementsByName('danat')[1].disabled = true;
   return true;
}
</script>

<script type="text/javascript">
function deactivate() {
   document.getElementsByName('danat')[0].disabled = true;
   document.getElementsByName('danat')[1].disabled = true;
   return true;
}
</script>
<script type="text/javascript">

function required() {
   document.getElementById("danat").required = true;
   return true;
}
</script>

        <script>
        let customTimerEle = document.getElementById('mins-left');
        let customTimer2 = document.getElementById('secs-left');
        let customTimer = document.getElementById('store_time');

        document.addEventListener("DOMContentLoaded", function (event) {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                customTimerEle.innerText = event.offset.totalMinutes;
                customTimer2.innerText = event.offset.totalSeconds - event.offset.totalMinutes*60;
                customTimer.innerText = event.offset.totalSeconds;

            });
        });

        function storeTimeA() {
            console.log("hallo A", customTimer.innerText);
            document.getElementById('secondary_button').value = "A";
            document.getElementById('store_timeA').value = customTimer.innerText;

        }

        function storeTimeB(){
            console.log("hallo now at B", customTimer.innerText);
            document.getElementById('secondary_button').value = "B";
            document.getElementById('store_timeB').value = customTimer.innerText;
        }
        setTimeout(function() {$(".content").fadeOut(1500);}, 3000)
        setTimeout(function() {$(".content1").fadeIn(1500);}, 30000); //30 seconds
        setTimeout(function() {$(".content1").fadeOut(1500);},34000); //lasts for 4 seconds
        setTimeout(function() {$(".content2").fadeIn(1500);},80000);  //AT  80000 = 1;20. remaining 1 min 80 seconds :
        setTimeout(function() {$(".content2").fadeOut(1500);},84000); //lasts for 4 seconds113000
        setTimeout(function() {$(".content3").fadeIn(1500);},120000);   //at 2 mins
        setTimeout(function() {$(".content3").fadeOut(1500);},124000);  //lasts for 4 seconds
        setTimeout(function() {$(".content4").fadeIn(1500);},150000);  //AT 2 min 30 seconds
        setTimeout(function() {$(".content4").fadeOut(1500);},154000); //lasts for 4 seconds

        </script>{% endblock %}

{% block content %}


<div class="alert alert-secondary" role="alert">
  This page will automatically submit in <b>
   <span id="mins-left"></span> minutes and <span id="secs-left"></span> seconds</b>. <br>
<b> Clicking either option cannot be reversed. Clicking either option will not make you advance to the next page. You need to choose an option to get compensated for the experiment. </b><br>

    <div class="card">
        <div class="card-body">

     <div class=“parent”>
         <div class="mx-auto" style="width: 200px;"> <img class="col-md-12 float-sm-end mb-12 ms-md-12" style="max-width:250px" src="{% static '10pounds.png' %}"/> </div>
            <div class=“child”><div class="content1" style="display:none; position:absolute;top: 100px; left: 100px; right: 0px; bottom: 0px;font-size:80px;color:red;font-family: Fantasy;">1</div>  </div>
            <div class=“child”><div class="content2" style="display:none;position:absolute;top: 100px; left: 800px; right: 220px; bottom: 0px;color:red; font-size:80px;font-family: Fantasy;"> 6 </div></div>
            <div class=“child”><div class="content3" style="display:none;position:absolute;top: 100px; left: 700px; right: 40px; bottom: 30px;color:red;font-size:80px; font-family: Fantasy ; "> 10 </div></div>
            <div class=“child”><div class="content4" style="display:none;position:absolute;top:0px; left: 45px; right: 250px; bottom: 60px;color:red;font-size:80px; font-family: Fantasy ; "> 100 </div></div>
     </div>

    <div class="clearfix"></div>


      <p> Please make your choice here:</p>

<div1><button name="danat" id="danat" value="A" class="btn btn-outline-primary" onclick="storeTimeA();deactivate();required()"> Select Option A</button></div1>
<div2><button  name="danat" id="danat" value="B" class="btn btn-outline-primary" onclick="storeTimeB();deactivate();required()"> Select Option B</button> <p> </p></div2>

      <img style="max-width:280px" src="https://en.numista.com/catalogue/photos/england/5e9f60e8489a30.05757940-original.jpg"/>
<img style="max-width:270px" src="https://www.ifrc.org/sites/default/files/styles/article_press_release_featured_image/public/IMG_0251.jpg?itok=OvT1jknw"/>
 <input hidden name="store_time" id="store_time" >
<input hidden id="secondary_button" name="secondary_button">
<input hidden id="store_timeA" name="store_timeA">
<input hidden id="store_timeB" name="store_timeB">


   </div></div></div>
{{ form.secondary_button.errors }}


{% endblock %}