        <span style="text-align:center">
    <div class="alert alert-info alert-dismissible" role="alert">
        <br><br>
        <h4><strong>Attention!</strong> </h4>

            {% if request == "True" %} Message from Player A: <i><b>Please replace ??? by the actual consequences for the Red Cross.</b></i>
            {% else %} Player A did <b>not</b> request information about the consequences for the Red Cross.
            {% endif %}

         <br><br>
         <br><br><br>
         <br>
            <button class="btn btn-default text-center" data-dismiss="alert" aria-label="Close">Close this window and start Task 2</button>
            <br><br> <br><br>

<br><br><br><br>

<br><br><br><br>
        <br><br><br><br>

     </div>
</span>