{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    What do you think others will do? {% if player.role == "Receiver" %}(1/5) {% endif %}
{% endblock %}

{% block scripts %}
{% include 'snippets/slider.html' %}
{% endblock %}

{% block styles %}
    {% include 'snippets/Button_style.html' %}
<style>

.table td {
  vertical-align: middle;
}

</style>
    {% endblock %}

{% block content %}


<div class="card"><div class="card-body">
<div class="row">
<div class="col-md-7 col-12">
    <p> {% include 'snippets/intro-beliefs.html' %} </p><p>
        {% if player.role == "Receiver" %}
            Please think about the choice of Player A when <b>not informed</b>
        about the consequences for the Red Cross.


        We ask you to give your best estimate of how many players out of 100
        uninformed Players A clicked the button.
        {% endif %}
    </p>
    <input type="range" name="belief0" min="0" max="100" id="belief0" class="form-control" oninput="updateDescription(this)">
    <p id="description">Your estimate:</p>
    <span style="color:red" id="warning"></span>



    </div>
<div class="col">
<div class="alert-secondary">
<br>
      <button name="button_test" value="True" class="btn btn--action" disabled><br>
        <br><br><p> If you click: <br><br> </p>
          <h4>You: +&pound;{{ Constants.optionB }}</h4>
          <h4> Red Cross: ??? </h4>
          <br><br>

        </button><br><br></div>
</div>
</div>
</div>
</div>
    </div>
    <br>

<button class="btn btn-primary" hidden id="submit">Next</button>
<div class="btn btn-primary" onclick="checkMovedSlider()">Next</div>


{% endblock %}