{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    What do you think others will do? (4/5)
{% endblock %}

{% block scripts %}
{% include 'snippets/slider.html' %}
{% endblock %}

{% block styles %}
    {% include 'snippets/Button_style.html' %}
<style>

.table td {
  vertical-align: middle;
}

</style>
    {% endblock %}

{% block content %}


<div class="card"><div class="card-body">
<div class="row">
<div class="col-md-7 col-12">
    <p> Now, we ask you to think of 100 participants choosing
        as Player A when they received information about a negative consequence of
        <b>{{ Constants.payoffs_charity_str.2 }}</b>.</p>


    <input type="range" name="belief3" min="0" max="100" id="belief3" class="form-control" oninput="updateDescription(this)">
    <p id="description">Your estimate:</p>
    <span style="color:red" id="warning"></span>


    </div>
<div class="col">
<div class="alert-secondary">
<br>
      <button name="button_test" value="True" class="btn btn--action" disabled><br>
        <br><br><p> If you click: <br><br> </p>
          <h4>You: +&pound;{{ Constants.optionB }}</h4>
          <h4> Red Cross: {{ Constants.payoffs_charity.2.0 }}&pound;{{ Constants.payoffs_charity.2.1 }}0 </h4>
          <br><br>

        </button><br><br></div>
</div>
</div>
</div>
</div>
    </div>
    <br>

<button class="btn btn-primary" hidden id="submit">Next</button>
<div class="btn btn-primary" onclick="checkMovedSlider()">Next</div>
{% endblock %}