<p> This was for you to experience the task of Player A. The button did not specify the bonus for the Red Cross: it was concealed by "<b>???</b>".  </p>

        <p> You have the possibility to inform Player A about the actual consequences for the Red Cross.
            If you decide to do so, the "<b>???</b>" on the button</b>
            will be replaced by the actual consequences.</p>
</p>

        <p> The consequences for the Red Cross can take one of the following values with equal probability: </p>
        <p>
        <button class="btn btn-outline-secondary" disabled>
            {{ Constants.payoffs_charity_str.0}}</button>
        <button class="btn btn-outline-secondary" disabled>
            {{ Constants.payoffs_charity_str.1}}</button>
        <button class="btn btn-outline-secondary" disabled>
            {{ Constants.payoffs_charity_str.2}}</button>
        <button class="btn btn-outline-secondary" disabled>
            {{ Constants.payoffs_charity_str.3}}</button>
        <br>
</p>

        <p> We will ask you to decide for each of the possible consequences for the Red Cross whether you want to
            inform Player A, without knowing which
            consequence is selected. After that, the actual consequence will be randomly selected by the computer
            and your choice will be implemented. If you chose to send a message for the selected consequence,
            you <b>{% if treatment == "Sending Positive" %}receive {% else %}pay{% endif %}
                the amount of {{ player.cost_of_sending }} pence</b>,
            resulting in a bonus payment of {{player.bonus_minus_cost}} pence.
        </p>




