{% load staticfiles otree_tags %}


{% if player.role == "Sender" %}

      <p>Your initial bonus in this task is {{Constants.payoff_sender}} pence.
      To understand your task, you first need to learn about the task of Player A.
      </p>

      <p> Player A has the opportunity to press a button. By pressing the button,
      <b>they can obtain a bonus payment of {{Constants.optionB}} pound</b>.
      Pressing the button also has consequences for the bonus paid to the Red Cross.
      These consequences can either be positive or negative, but Player A is not informed about them.
      </p>

      <p> However, <b>you can inform Player A </b>about the consequences for the Red Cross,
      before they make a decision. If you decide to do so, you will
      {% if treatment == "Sending Positive" %} receive {%else%} pay {%endif%} the
      {%if not treatment == "Extra Costly"%}small{%endif%} amount of
       {%if not treatment == "Extra Costly"%}{{ Constants.cost_of_sending_baseline }}
       {%else%}{{ Constants.cost_of_sending_extra }}{%endif%} pence,
      resulting in a bonus payment of {{player.bonus_minus_cost}} pence.
      Importantly, pressing the button has consequences independently of whether you inform or not inform Player A.
      </p>


{% else %}

In your task you will face a decision screen for {{Constants.timer}} seconds.
              You have the opportunity to press a red button to
              obtain a bonus payment of {{Constants.optionB}} pound. </p>

                <p>
                Pressing the button also has consequences for the total amount donated to the Red Cross.
                These consequences can either be positive or negative, but you are not informed about them.
                They are concealed by "<b>???</b>". </p>

                <p> You are matched with Player B, who is given a bonus payment of {{Constants.payoff_sender}} pence.

                Before you can make your choice,
                Player B has the opportunity to inform you about the consequences for the Red Cross
                if you decide to click the button. </p>

                <p>If they decide to do so, this will replace the "<b>???</b>" on the button
                by the actual payoff consequences for the Red Cross. If you do not press the button,
              you will not get a bonus payment and the Red Cross will not be affected. </p>



{% endif %}
