<p> This was the task of Player A. The button did not specify the bonus for the Red Cross: it was concealed by "<b>???</b>".  </p>

        <p> You have the possibility to inform Player A about the actual consequences for the Red Cross.
            If you decide to do so, the "<b>???</b>" on the button</b>
            will be replaced by the actual consequences.</p>
</p>

        <p> The consequences for the Red Cross can take one of the following values with equal probability: </p>
        <p>
        <button class="btn btn-outline-secondary" disabled>
            {{ Constants.payoffs_charity_str.0}}</button>
        <button class="btn btn-outline-secondary" disabled>
            {{ Constants.payoffs_charity_str.1}}</button>
        <button class="btn btn-outline-secondary" disabled>
            {{ Constants.payoffs_charity_str.2}}</button>
        <button class="btn btn-outline-secondary" disabled>
            {{ Constants.payoffs_charity_str.3}}</button>
        <br>
</p>

        <p> We will ask you to decide for each of the possible consequences for the Red Cross whether you want to
            inform Player A, without knowing which
            consequence is selected. After that, the actual consequence will be randomly selected by the computer
            and your choice will be implemented. If you chose to send a message for the selected consequence,
            you <b>{% if treatment == "Sending Positive" %}receive {% else %}pay{% endif %}
                the amount of {{ player.cost_of_sending }} pence</b>,
            resulting in a bonus payment of {{player.bonus_minus_cost}} pence.
        </p>

    {% if treatment == "Request" or treatment == "Request + Punishment" %}
        <h5>Request </h5>
        <p> Before making any choice, Player A has the opportunity to send you a request.
        Player A can ask you to provide or not information about the consequences for the Red Cross.
        You will receive Player A’s request before making your choice. </p>
    {% endif %}


    {% if treatment == "Request + Punishment" %}
      <h5>Player’s A final decision </h5>
      <p> Player A has a final decision to make at the end of the task.
          The player has to choose whether to <b>confirm</b> your bonus payment
              or to <b>reduce it by {{ Constants.punishment }} pence</b>.
          You will be informed of your final bonus and of Player A’s choice at the end of the experiment.</p>
    {% endif %}


