Before {% if player.role == "Sender" %}starting with {% else %}finishing {% endif %} Task 2,
        we would like to know your belief about how participants choosing as
        Player A {% if player.role == "Sender" %}will behave {% else %}behaved {% endif %} in their task.
        Therefore, we ask you to think of 100 participants choosing
        as Player A and give your best guess about how many these 100 participants chose to click
        the button when they received information about a negative consequence of
